<!--
    template.html
    https://www.loginradius.com/blog/async/sending-emails-with-golang/
-->
<!DOCTYPE html>
<html>
    <body>
        <h3>Name:</h3><span>{{.Name}}</span><br/><br/>
        <h3>Email:</h3><span>{{.Message}}</span><br/>
    </body>
</html>